.headBlock{
    width: 200px;
    margin-top: 10px;
    background-color: #eee;
    border: 1px solid rgba(16,16,16,0.8);
    box-shadow: 3px 3px 1px #ccc;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 18px;
    font-size:40px;
}

.head{
    position: fixed;
    background-color: #eee;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #111;
    margin: auto;
}

.headBlock:hover{
    box-shadow: 4px 4px 1px #ccc;
    background-color: #ddd;
}